body{
	width: 100%;
	height:100%;
	background: linear-gradient(75deg, #A8C1EF, #F9C2EA);
}
nav{
	position: fixed;
	width: 100%;
	height: 8.5vh;
	margin-top: -8px;
	display: flex;
	background-color: aqua;
	justify-content: space-between;
}
.Navigation .Navigation-left,
.Navigation .Navigation-right {
    width: 30%;
}
.Navigation .Navigation-left h2{
	font-size: 45px;
	margin: auto 10px;
}
.Navigation .Navigation-right{
	display: flex;
	justify-content: flex-end;
}
.Navigation .Navigation-right img {
    width: 120px;
    height: 60px;
	margin-right: 10px;
}
.Navigation .Navigation-center{
	width: 40%;
}
.Navigation .Navigation-center h2{
	text-align: center;
}
main{
	width:100%;
	display: flex;
}
main .index{
	position: fixed;
	margin-top: 7.5vh;
	width:5%;
	height: 93vh;
	background-color:#9D82FF;
	display: flex;
	flex-direction: column; 
	justify-content: space-between; 
}

main .index p{
	font-size: 20px;
	margin-left: 8px;
	flex-grow: 1; 
}
main button{
	width: 80px;
	position: fixed;
	margin-top: 9vh;
	margin-left: 6%;
}
main .index p a,i{
	text-decoration: none;
	color:white;
}
main .station {
    width: 95%;
	margin-top: 7.5vh;
	margin-left: 5%;
}
main .station .guanli{
	width: 100%;
	height:850px;
	background: linear-gradient(135deg,#F8E1EB,#C5FDFA);
}
main .station .guanli .description{
	padding-top: 1.875rem;
	padding-bottom: 1.25rem;
}
main .station .guanli .description h2{
	text-align: center;
	padding: 5vh;
}
main .station .guanli .description .gangwei{
	margin: 5% 20%;
}
main .station .guanli .description .gangwei ol li{
	margin-top: 15px;
}
main .station .guanli .description .jianli p{
	text-align: center;
}
main .station .guanli .description .jianli .submit{
	margin-left: 40%;
	margin-bottom: 7.5vh;
}

main .station .caiwu{
	width: 100%;
	height:850px;
	background: linear-gradient(135deg,#2AF599,#009FFB);
}
main .station .caiwu .description{
	padding-top: 1.875rem;
	padding-bottom: 1.25rem;
}
main .station .caiwu .description h2{
	text-align: center;
	padding: 5vh;
}
main .station .caiwu .description .gangwei{
	margin: 5% 20%;
}
main .station .caiwu .description .gangwei ol li{
	margin-top: 15px;
}
main .station .caiwu .description .jianli p{
	text-align: center;
}
main .station .caiwu .description .jianli .submit{
	margin-left: 40%;
	margin-bottom: 7.5vh;
}

main .station .renli{
	width: 100%;
	height:850px;
	background: linear-gradient(135deg,#79FDE5,#B6BAF5);
}
main .station .renli .description{
	padding-top: 1.875rem;
	padding-bottom: 1.25rem;
}
main .station .renli .description h2{
	text-align: center;
	padding: 5vh;
}
main .station .renli .description .gangwei{
	margin: 5% 20%;
}
main .station .renli .description .gangwei ol li{
	margin-top: 15px;
}
main .station .renli .description .jianli p{
	text-align: center;
}
main .station .renli .description .jianli .submit{
	margin-left: 40%;
	margin-bottom: 7.5vh;
}



main .station .xiaoshou{
	width: 100%;
	height:850px;
	background: linear-gradient(135deg,#A8AED7,#F79DB7);
}
main .station .xiaoshou .description{
	padding-top: 1.875rem;
	padding-bottom: 1.25rem;
}
main .station .xiaoshou .description h2{
	text-align: center;
	padding: 5vh;
}
main .station .xiaoshou .description .gangwei{
	margin: 5% 20%;
}
main .station .xiaoshou .description .gangwei ol li{
	margin-top: 15px;
}
main .station .xiaoshou .description .jianli p{
	text-align: center;
}
main .station .xiaoshou .description .jianli .submit{
	margin-left: 40%;
	margin-bottom: 7.5vh;
}



main .station .chanpin{
	width: 100%;
	height:850px;
	background: linear-gradient(135deg,#E5D5CC,#928BDD);
}
main .station .chanpin .description{
	padding-top: 1.875rem;
	padding-bottom: 1.25rem;
}
main .station .chanpin .description h2{
	text-align: center;
	padding: 5vh;
}
main .station .chanpin .description .gangwei{
	margin: 5% 20%;
}
main .station .chanpin .description .gangwei ol li{
	margin-top: 15px;
}
main .station .chanpin .description .jianli p{
	text-align: center;
}
main .station .chanpin .description .jianli .submit{
	margin-left: 40%;
	margin-bottom: 7.5vh;
}


main .station .yunying{
	width: 100%;
	height:850px;
	background: linear-gradient(135deg,#F1E6B3,#F6CF12);
}
main .station .yunying .description{
	padding-top: 1.875rem;
	padding-bottom: 1.25rem;
}
main .station .yunying .description h2{
	text-align: center;
	padding: 5vh;
}
main .station .yunying .description .gangwei{
	margin: 5% 20%;
}
main .station .yunying .description .gangwei ol li{
	margin-top: 15px;
}
main .station .yunying .description .jianli p{
	text-align: center;
}
main .station .yunying .description .jianli .submit{
	margin-left: 40%;
	margin-bottom: 7.5vh;
}


main .station .kefu{
	width: 100%;
	height:850px;
	background: linear-gradient(135deg,#26C4F5,#9D82FF);
}
main .station .kefu .description{
	padding-top: 1.875rem;
	padding-bottom: 1.25rem;
}
main .station .kefu .description h2{
	text-align: center;
	padding: 5vh;
}
main .station .kefu .description .gangwei{
	margin: 5% 20%;
}
main .station .kefu .description .gangwei ol li{
	margin-top: 15px;
}
main .station .kefu .description .jianli p{
	text-align: center;
}
main .station .kefu .description .jianli .submit{
	margin-left: 40%;
	margin-bottom: 7.5vh;
}


main .station .jishu{
	width: 100%;
	height:850px;
	background: linear-gradient(135deg,#FDC05F,#F8730B);
}
main .station .jishu .description{
	padding-top: 1.875rem;
	padding-bottom: 1.25rem;
}
main .station .jishu .description h2{
	text-align: center;
	padding: 5vh;
}
main .station .jishu .description .gangwei{
	margin: 5% 20%;
}
main .station .jishu .description .gangwei ol li{
	margin-top: 15px;
}
main .station .jishu .description .jianli p{
	text-align: center;
}
main .station .jishu .description .jianli .submit{
	margin-left: 40%;
	margin-bottom: 7.5vh;
}